{% extends 'layouts/base.twig' %}


{% block body %}
    <a href="index.html">Back to main page</a>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/stylesheets/other.css" />
{% endblock %}

{% block javascripts %}
    <script src="/assets/javascripts/other.js"></script>
{% endblock %}
