{% extends 'layouts/base.twig' %}


{% block body %}
    <section>
        <h1>Hello again!</h1>

        <a href="index.html" class="btn btn--dark">
            <span>Back to main page</span>
        </a>
    </section>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <link rel="stylesheet" href="/assets/stylesheets/dark.css" />
{% endblock %}

{% block javascripts %}
    <script src="/assets/javascripts/shared.js"></script>
    <script src="/assets/javascripts/dark.js"></script>
{% endblock %}
