<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {# Default meta tags #}
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        {% block meta %}{% endblock %}
        <title>{% block title %}@TODO NAME{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}"/>

    {# Favicon #}
		<link rel="shortcut icon" href="/favicon.ico"/>

    {# Manifest #}
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/manifest/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/manifest/favicon-16x16.png" />
        <link rel="apple-touch-icon" href="/assets/manifest/apple-touch-icon.png" />
        {# <link rel="mask-icon" href="/assets/manifest/safari-pinned-tab.svg" color="#ffffff" /> #}

        <link rel="manifest" href="/assets/manifest/manifest.webmanifest" />
        <meta name="theme-color" content="#0275d8" />
        <meta name="msapplication-config" content="/assets/manifest/browserconfig.xml" />

    {# CSS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/stylesheets/main.css" />
        {% endblock %}
</head>
<body>

    {% block body %}{% endblock %}

    {# JS #}
    {% block javascripts %}
        <script src="/assets/javascripts/shared.js"></script>
        <script src="/assets/javascripts/main.js"></script>
    {% endblock %}

</body>
</html>
