/*
 * Color Palette
 */

$color-light-background: #FFF;
$color-light-primary:    #0275d8;
$color-light-text:       #222;

$color-dark-background:  #222;
$color-dark-primary:     #0275d8;
$color-dark-text:        #fff;
