/*
 * Color Palette
 */

$color-light-background: #FFF;
$color-light-primary:    #EE005B;
$color-light-text:       #222;

$color-dark-background:  #222;
$color-dark-primary:     #FF7A1B;
$color-dark-text:        #fff;
