{% from 'macros/icon.twig' import icon %}
{% extends 'layouts/base.twig' %}

{% block body %}
    <p>HOST: {{ host }}</p>
    <p>HOST FROM GLOBAL JS: {{ hostFromGlobalJS }}</p>

    {% if typeBoolTrue %}
        <p>TYPE_BOOL_TRUE: pass</p>
    {% else %}
        <p>TYPE_BOOL_TRUE: fail</p>
    {% endif %}

    {% if typeBoolFalse %}
        <p>TYPE_BOOL_FALSE: fail</p>
    {% else %}
        <p>TYPE_BOOL_FALSE: pass</p>
    {% endif %}

    <p>TYPE_NUMBER: {{ typeNumber }}</p>
{% endblock %}
